select {
  border-radius: 0;
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

.react-calendar {
  margin: auto;
}

.react-select{
  border: 1px solid black;
  border-radius: 0;
  width: 400px;
}

p{
  text-align: center;
}